body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#p1 {
    font-size: xx-large;
}
#p2 {
    display: none;
}
#p1, #p2 {
    margin: 0;
    background-color: white;
    opacity: 0.7;
    border: 1px solid black;
    padding-left: 2%;
}
